"*":
    core: {
        themes: [
            # "one-light-ui",
            # "one-light-syntax"
        ]
        disabledPackages: [
            # "markdown-preview"
        ]
    }
    editor:{
        fontSize:14
        tabLength: 2
    }
    "bracket-matcher":
        autocompleteBrackets: true

".source.python":
    editor:
        tabLength: 2
    "bracket-matcher":
        autocompleteBrackets: false
