{
  "paths": [
    "./dummyProject"
    # "~/desktop/secondDummyProject"
    ],
  "config": {
    core: {
      themes: [
        "one-light-ui",
        "one-light-syntax"
      ]
      disabledPackages: [
        "php-server",
        "my-package2"
      ]
    }
    editor:
      fontSize:13
  }
}
