{
  "paths": [
    "."
    # "~/desktop/secondDummyProject"
    ],
  "config": {
    core: {
      themes: [
        "one-light-ui",
        "one-light-syntax"
      ]
      disabledPackages: [
        "php-server"
      ]
    }
    editor:
      fontSize:20
  }
}
