core:
  themes: [
    "one-light-ui"
    "one-light-syntax"
  ]
  disabledPackages: [
    "php-server"
  ]
  ignoredNames: [
    ".git"
    ".hg"
    ".svn"
    ".DS_Store"
    "._*"
    "Thumbs.db"
    "desktop.ini"
  ]
  excludeVcsIgnoredPaths: true
  followSymlinks: true
  versionPinnedPackages: []
  uriHandlerRegistration: "prompt"
  audioBeep: true
  closeDeletedFileTabs: false
  destroyEmptyPanes: true
  closeEmptyWindows: true
  fileEncoding: "utf8"
  openEmptyEditorOnStart: true
  restorePreviousWindowsOnStart: "yes"
  reopenProjectMenuCount: 15
  automaticallyUpdate: true
  useProxySettingsWhenCallingApm: true
  allowPendingPaneItems: true
  telemetryConsent: "undecided"
  warnOnLargeFileLimit: 40
  fileSystemWatcher: "native"
  useTreeSitterParsers: false
  titleBar: "native"
  projectHome: "/Users/fanjianhua/github"
editor:
  fontSize: 12
  tabLength: 4
  fontFamily: "Menlo, Consolas, DejaVu Sans Mono, monospace"
  lineHeight: 1.5
  showCursorOnSelection: true
  showInvisibles: false
  showIndentGuide: false
  showLineNumbers: true
  atomicSoftTabs: true
  autoIndent: true
  autoIndentOnPaste: true
  nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…"
  preferredLineLength: 80
  maxScreenLineLength: 500
  softWrap: false
  softTabs: true
  tabType: "auto"
  softWrapAtPreferredLineLength: false
  softWrapHangingIndent: 0
  scrollSensitivity: 40
  scrollPastEnd: false
  undoGroupingInterval: 300
  confirmCheckoutHeadRevision: true
  invisibles:
    eol: "¬"
    space: "·"
    tab: "»"
    cr: "¤"
  zoomFontWhenCtrlScrolling: false
"bracket-matcher":
  autocompleteBrackets: true
  autocompleteCharacters: [
    "()"
    "[]"
    "{}"
    "\"\""
    "''"
    "``"
    "“”"
    "‘’"
    "«»"
    "‹›"
  ]
  pairsWithExtraNewline: [
    "()"
    "[]"
    "{}"
  ]
  wrapSelectionsInBrackets: true
  highlightMatchingLineNumber: false
  alwaysSkipClosingPairs: false
"one-dark-ui":
  fontSize: 12
  tabSizing: "Even"
  hideDockButtons: false
"one-light-ui":
  fontSize: 12
  tabSizing: "Even"
  hideDockButtons: false
"autocomplete-plus":
  enableAutoActivation: true
  autoActivationDelay: 0
  maxVisibleSuggestions: 10
  confirmCompletion: "tab and enter"
  useCoreMovementCommands: true
  fileBlacklist: [
    ".*"
  ]
  scopeBlacklist: []
  includeCompletionsFromAllBuffers: true
  strictMatching: false
  minimumWordLength: 3
  extraWordCharacters: ""
  enableBuiltinProvider: true
  builtinProviderBlacklist: ".source.gfm"
  backspaceTriggersAutocomplete: false
  enableAutoConfirmSingleSuggestion: true
  suggestionListFollows: "Word"
  defaultProvider: "Subsequence"
  suppressActivationForEditorClasses: [
    "vim-mode.command-mode"
    "vim-mode.visual-mode"
    "vim-mode.operator-pending-mode"
  ]
  consumeSuffix: true
  useAlternateScoring: true
  useLocalityBonus: true
  enableExtendedUnicodeSupport: false
  similarSuggestionRemoval: "none"
  moveToCancel: false
autosave:
  enabled: false
"command-palette":
  useAlternateScoring: true
  preserveLastSearch: false
"find-and-replace":
  focusEditorAfterSearch: false
  projectSearchResultsPaneSplitDirection: "none"
  closeFindPanelAfterSearch: false
  scrollToResultOnLiveSearch: false
  liveSearchMinimumCharacters: 3
  searchContextLineCountBefore: 3
  searchContextLineCountAfter: 3
  showSearchWrapIcon: true
  autocompleteSearches: false
"fuzzy-finder":
  ignoredNames: []
  searchAllPanes: false
  preserveLastSearch: false
  useAlternateScoring: true
  prefillFromSelection: false
github:
  keyboardNavigationDelay: 300
  viewChangesForCurrentFileDiffPaneSplitDirection: "none"
  gitDiagnostics: false
  filesystemEventDiagnostics: false
  performanceMask: [
    ".*"
  ]
  performanceToConsole: false
  performanceToDirectory: ""
  performanceToProfile: false
  automaticCommitMessageWrapping: true
  graphicalConflictResolution: true
"git-diff":
  showIconsInEditorGutter: false
"grammar-selector":
  showOnRightSideOfStatusBar: true
"line-ending-selector":
  defaultLineEnding: "OS Default"
"markdown-preview":
  breakOnSingleNewline: false
  liveUpdate: true
  openPreviewInSplitPane: true
  allowUnsafeProtocols: false
  grammars: [
    "source.gfm"
    "source.litcoffee"
    "text.html.basic"
    "text.md"
    "text.plain"
    "text.plain.null-grammar"
  ]
  useGitHubStyle: false
notifications:
  showErrorsInDevMode: false
  defaultTimeout: 5000
"open-on-github":
  includeLineNumbersInUrls: true
"package-generator":
  createInDevMode: false
  packageSyntax: "javascript"
"spell-check":
  grammars: [
    "source.asciidoc"
    "source.gfm"
    "text.git-commit"
    "text.plain"
    "text.plain.null-grammar"
  ]
  excludedScopes: []
  useLocales: true
  locales: []
  localePaths: []
  knownWords: []
  addKnownWords: false
"status-bar":
  isVisible: true
  fullWidth: true
  cursorPositionFormat: "%L:%C"
  selectionCountFormat: "(%L, %C)"
"symbols-view":
  useEditorGrammarAsCtagsLanguage: true
  quickJumpToFileSymbol: true
tabs:
  showIcons: true
  alwaysShowTabBar: true
  tabScrolling: "platform"
  tabScrollingThreshold: 120
  enableVcsColoring: false
  addNewTabsAtEnd: false
  enableMruTabSwitching: true
  displayMruTabList: true
"tree-view":
  squashDirectoryNames: false
  hideVcsIgnoredFiles: false
  hideIgnoredNames: false
  sortFoldersBeforeFiles: true
  autoReveal: false
  focusOnReveal: true
  alwaysOpenExisting: false
welcome:
  showOnStartup: true
whitespace:
  removeTrailingWhitespace: true
  keepMarkdownLineBreakWhitespace: true
  ignoreWhitespaceOnCurrentLine: true
  ignoreWhitespaceOnlyLines: false
  ensureSingleTrailingNewline: true
"atomic-management":
  isEnabled: true
  enforceConfiguredPackages: true
