// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.am-status-bar {
    color: @text-color;
    background-color: @tool-panel-background-color;
    display: table;
    // height: 500px;
    width: 500px;
    // overflow: scroll;
    max-height: 400px;
    position: relative;
}

.status-bar-tooltip {
    .tooltip-inner.tooltip-inner {
      padding: @component-padding / 2;
      background-color: @tool-panel-background-color;
      border: 1px solid @base-border-color;
      box-shadow: 0 4px 8px hsla(0, 0, 0, .1);
      color: @text-color;
    }
    &.top .tooltip-arrow.tooltip-arrow {
    width: @component-padding;
    height: @component-padding;
    border-width: 0 0 1px 1px;
    border-color: @base-border-color;
    background-color: @tool-panel-background-color;
    border-bottom-right-radius: 2px;
    transform: rotate(-45deg);
  }
}

.am-label {
    background-color: lighten(@base-background-color,5%);
    padding-top: 3%;
    padding-bottom:3%;
    // font-size: 15px;
    font-weight: bold;
    height: 20%;
    position: relative;
    border:1px solid darken(@base-background-color,5%);
    border-radius: 3px;
    // border-width: thin;
    // border-color: darken(@base-background-color,5%)
}

.am-label div {
    position: relative;
    text-align: left;
    margin-bottom: 10px;
}

.am-label a {
    position: absolute;
    padding-top: 5px;
    margin-left: 25px;
}

.am-label span {
    position: absolute;
    padding-top: 5px;
    margin-left: 25px;
}

.am-label input {
  position: absolute;
  margin-left: 5px;
}

.am-label i {
  position: absolute;
}

.am-pane {
    display: table-row-group;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: @tool-panel-background-color;
    position: relative;
}
